.header{
    background-image: linear-gradient($color-primary-light,$color-primary-light), url(Images/p.jpg);
    height: 96.5vh;
    background-size: cover;
    overflow: hidden;

    @include respond(tablet) {
        height: 75vh;
    }

    @include respond(small-tablet) {
        height: 95vh;
    }

    @include respond(big-phone) {
        height: 85vh;
    }

    @include respond(medium-phone) {
        height: 75vh;
    }

    @include respond(small-phone) {
        height: 60vh;
    }

    &-nav{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        height: 7rem;
        //margin: 4rem 15rem 4rem 15rem;
        margin:4rem 0rem;

        @include respond(small-tablet) {
            flex-direction: column;
            align-items: center;
            margin-top: 4rem;
            margin-bottom: 1rem;
        }

        @include respond(tablet) {
            height: 9rem;
        }

        @include respond(medium-laptop) {
            margin: 2rem 4rem 2rem 4rem;
        }
    }

    &-sticky-nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $color-primary;
        z-index: 4;

        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 90px;

        padding: 3rem 15rem 4rem 15rem;

    }

    &-sticky-menu{
        color: $color-black;
    }


    &-list{
        display: flex;
        list-style: none;
        font-size: 1.8rem;

        @include respond(small-tablet) {
            justify-content: space-evenly;
            width: 100%;
        }

    }

    &-logo{
        font-size: 2.8rem;
        margin-top: -1rem;

        @include respond(small-tablet) {
            margin-bottom: 2rem;
        }

        & a{
            text-decoration: none;
            color: $color-yellow-dark;
        }
    }

    & li a{
        text-decoration: none;

    }

    &-menu{
        color: $color-white;
    }

    & li:not(:last-child){
        margin-right: 3rem;

        @include respond(small-tablet) {
            margin-right: 0rem;
        }
    }


    &-btn:hover,
    &-btn:active{
        color: $color-white;
        background-color: transparent;
        border: 0.2rem solid $color-white;
        padding-left: 3.8rem;
        padding-right: 3.8rem;
    }

    &-2{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        margin-top: 3.5rem;
        height: 76vh;

        @include respond(tablet) {
            height: 50vh;
        }

        @include respond(small-tablet) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 80vh;
        }



        @include respond(big-phone) {
            flex-direction: column;
            align-items: center;
            height: 75vh;
            margin-left: 8rem;
        }

        @include respond(medium-phone) {
            height: 55vh;
        }

        @include respond(small-phone) {
            height: 50vh;
        }

        @include respond(medium-laptop) {
            margin: 3.5rem 2em 0rem 4rem;
        }

        &-1{
            width: 30%;
            animation-name: moveInRight;
            animation-duration: 5s;
            align-self: center;

            @include respond(small-tablet) {
                width: 60%;
            }


            @include respond(big-phone) {
                width: 80%;
            }
        }

        &-descrip{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 5rem;
            padding-bottom: 4rem;

            &-1{
                font-size: 2.5rem;
                color: $color-yellow-dark;
                text-transform: uppercase;
            }

            &-2{
                font-size: 4rem;
                color: $color-white;
            }

            &-3{
                color: $color-white;
                font-size: 2.5rem;
            }

            &-link{
                text-decoration: none;
                color: $color-yellow-dark;
                text-transform: uppercase;
            }
        }

        &-img{
            display: flex;
            height: 100%;
            overflow: cover;
            width: 30%;

            animation-name: moveInLeft;
            animation-duration: 5s;

            @include respond(small-tablet) {
                width: 50%;
            }

            @include respond(big-phone) {
                width: 70%;
            }
        }

        &-item{
            width: 100%;
            align-self: center;
            
            @include respond(small-tablet) {
                width: 100%;
                align-self: center;
                margin-top: 2rem;
            }

        }

        &-logo{
            display: flex;
            align-items: center;
            padding-right: 3rem;
        }

        &-logo-gp{
            width: 30%;
        }

    }

}