//MEADIA QUERY MANAGER
/*
0 - 320px: small phone
320px - 375px: medium phone
375px - 425px: big phone
425px - 768px: tablet
768px - 1024px: small laptop
1024px - 1440px: our normal style
1440px - 2560px: big desktop
*/


/*
$breakpoint arguement choices
-small-phone
-medium-phone
-big-phone
-tablet
-small-laptop
-big-desktop
*/


//1em = 16px
@mixin respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media (max-width: 20em) { @content };  //320px
    }

    @if $breakpoint == medium-phone {
        @media (max-width: 23.4em) { @content };  //375px
    }

    @if $breakpoint == big-phone {
        @media (max-width: 26.56em) { @content };  //425px
    }

    @if $breakpoint == tablet {
        @media (max-width: 48em) { @content };  //768px
    }

    @if $breakpoint == small-laptop {
        @media (max-width: 64em) { @content };   //1024px
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 160em) { @content };   //2560px
    }
    
}