$color-primary: green;
$color-primary-light: rgba(0, 128, 0, 0.781);

$color-yellow-dark: rgb(231, 231, 3);
$color-white: #fff;
$color-black: #000;
$color-black-light: rgb(51, 51, 51);

$color-orange-medium: rgb(253, 186, 62);
$color-orange-dark: rgb(235, 157, 12);

$color-grey-light:rgb(247, 247, 247);
$color-grey-dark: rgb(219, 215, 215);

$color-purple: rgb(41, 27, 165);