*,
::after,
::before { 
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;

    @include respond(medium-laptop) {
        font-size: 62.5%;
    }


    @include respond(small-laptop) {
        font-size: 45%;
    }

    /*@include respond(smaller-laptop) {
        font-size: 40%;
    }*/

    @include respond(tablet) {
        font-size: 36%;
    }

    @include respond(small-tablet) {
        font-size: 36%;
    }

    @include respond(big-phone) {
        font-size: 35%;
    }

    @include respond(medium-phone) {
        font-size: 30%;
    }


    @include respond(small-phone) {
        font-size: 25%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    background-color: $color-white;
    color: black;
    font-family: 'Google sans', 'Times New Roman', Times, serif;
    font-weight: 300; 
    text-rendering: optimizeLegibility;
    height: 100vh;
}