.section4{
    display: flex;
    padding: 5rem 11rem 0rem 15rem;

    @include respond(big-phone) {
       flex-direction: column;
       padding: 5rem 6rem 0rem 6rem;


     }

    &-img{
        width: 50%;
        padding-right: 4.1rem;

        animation-name: moveInRight;
        animation-duration: 2s;

        @include respond(big-phone) {
            width: 100%;
            padding-right: 0rem;
            align-items: center;
            padding-bottom: 5rem;
          }
     

        &-item{
            width: 95%;
        }
    }

    &-word{
        width: 50%;
        animation-name: moveInLeft;
        animation-duration: 2s;

        @include respond(big-phone) {
            width: 100%; 
          }

        &-1{
            font-size: 2rem;
            color: $color-primary-light;
            padding-bottom: 5rem;

            @include respond(big-phone) {
                font-size: 3rem;
                padding-bottom: 2rem;
              }
    

        }

        &-2{
            font-size: 5rem;
            padding-bottom: 5rem;

            @include respond(big-phone) {
                padding-bottom: 2rem;
              }
        }

        &-3{
            font-size: 2rem;
            line-height: 3rem;
            color: $color-primary-light;

            @include respond(big-phone) {
                font-size: 3rem;
                line-height: 4.5rem;
              }
        }

    }
}