.section7{
background-image: url(Images/bg_mobile.jpg);
background-size: cover;
height: 55rem;
margin-top: 10rem;

&-item{
    padding: 10rem 10rem 0rem 10rem;
    width: 55%;

    &-1{
        font-size: 2.2rem;
        font-weight: 6rem;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 5rem;
    }

    &-2{
        font-size: 4rem;
        color: $color-white;
        margin-bottom: 5rem;
    }

    &-3{
        font-size: 2.2rem;
        color: $color-white;
        margin-bottom: 5rem;
    }

    &-4{
        width: 30%;
    }
}
}