.section10{
    display: flex;
    justify-content: space-between;
    margin: 5rem 15rem 5rem 15rem;


    @include respond(big-phone) {
        flex-direction: column;
        margin: 5rem 6rem 5rem 6rem;
        height: 180rem;
      }

    &-1{
        width: 35%;
        color: $color-primary-light;
        height: 50%;

        @include respond(big-phone) {
            width: 100%;
            height: 30%;
          }

        &-h1{
            font-size: 3rem;
            margin-bottom: 4rem;
        }

        &-p{
            font-size: 2.2rem;

            @include respond(big-phone) {
                font-size: 4rem;
              }
        }
    }

    &-2{
        display: flex;
        justify-content: space-between;
        width: 60%;

        @include respond(big-phone) {
            flex-direction: column;
            width: 100%;
            height: 130rem;
          }


        &-1 h1,
        &-2 h1,
        &-3 h1{
            font-size: 2rem;
            margin-bottom: 4rem;

            @include respond(big-phone) {
                font-size: 3rem;
              }
        }

        &-1 ul,
        &-2 ul,
        &-3 ul{
            font-size: 1.8rem;
            color: $color-primary-light;
        }

        &-list li:not(:last-child){
            margin-bottom: 1.5rem;
        }

        &-1{
            width: 25%;

            @include respond(big-phone) {
                width: 100%;
              }
        }

        &-1 ul,
        &-2 ul{
            list-style: none;
        }

        &-2{
            width: 25%;

            @include respond(big-phone) {
                width: 100%;
              }
        }


        &-3{
            width: 35%;

            @include respond(big-phone) {
                width: 100%;
              }
        }

        &-link{
            color: $color-primary-light;

            @include respond(big-phone) {
                font-size: 4rem;
              }
        }

        &-link:link,
        &-link:active{
            text-decoration: none;
            color: $color-primary-light;
        }

        &-link:hover,
        &-link:visited{
            box-shadow: 0rem 1rem 1rem rgba($color-black,0.5);
            font-size: 2rem;
        }

        &-p{

            @include respond(big-phone) {
                font-size: 4rem;
              }

        }
    }
}