.section8{
    background-image: linear-gradient(to right, $color-white 0%, $color-white 50%, $color-grey-light 50%);
    height: 60rem;
    padding-top: 5rem;

    @include respond(small-tablet) {
        display: flex;
        flex-direction: column;
        height: 180rem;
        padding: 5rem 6rem 0rem 6rem;
      }

    &-1{
        position: absolute;
        z-index: 2;
        width: 35%;
        height: 60rem;
        background-color: $color-white;
        padding-left: 10rem;

        @include respond(small-tablet) {
            position: relative;
            z-index: 0;
            background-color: transparent;
            width: 100%;
            height: 15rem;
          }

        &-h1{
            font-size: 2rem;
            color: $color-primary-light;

            @include respond(small-tablet) {
                font-size: 3rem;
              }
        }

        &-h2{
            font-size: 4rem;
            text-transform: uppercase;
            margin-top: 4rem;
            color: $color-black-light;

            @include respond(small-tablet) {
                margin-top: 2rem;
              }
        }
    }

    &-2{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 2rem 0rem;
        width: 100%;

        @include respond(small-tablet) {
            flex-direction: column;
            align-items: center;
            height: 150rem;
          }
    }

    &-21,
    &-22,
    &-23{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;
        width: 30%;
        box-shadow: 0rem 0rem 0.5rem rgba($color-black, 0.3);
        background-color: $color-white;

        @include respond(small-tablet) {
            width: 70%;
          }


        &-h3{
            font-size: 1.5rem;
            text-transform: uppercase;
            height: 5%;

            @include respond(small-tablet) {
                font-size: 2rem;
              }
        }

        &-p1{
            font-size: 2rem;
            align-items: center;
            line-height: 3rem;
            text-align: center;

            @include respond(small-tablet) {
                font-size: 3rem;
                line-height: 3.5rem;
              }
        }

        &-p2{
            font-size: 2rem;
            align-items: center;

            @include respond(small-tablet) {
                font-size: 2.7rem;
              }
        }

    }

    &-21{
        padding: 5rem 4rem 5rem 4rem;
        height: 30rem;

        @include respond(small-tablet) {
            height: 40rem;
          }
        &-star{
            display: flex;
            justify-content: center;
        }

        &-p12{
            text-transform: uppercase;
        }
    }

    &-22{
        height: 35rem;
        padding: 5rem 4rem 5rem 4rem;

        @include respond(small-tablet) {
            height: 45rem;
          }
    }

    &-23{
        height: 40rem;
        padding: 5rem 2rem 5rem 2rem;

        @include respond(small-tablet) {
            height: 55rem;
          }
    }

    &-rating-icon{
        width: 6%;

        @include respond(small-tablet) {
            width: 10%;
          }
    }
}