.section5{
    padding-top: 8rem;

    @include respond(small-tablet) {
       height: 270rem;
       display: flex;
       flex-direction: column;
       align-items: center;
      }

    &-word{
        text-align: center;

        @include respond(small-tablet) {
            width: 80%;
          }

        &-1{
            font-size: 5rem;
            text-transform: uppercase;
            padding-bottom: 2rem;

            @include respond(small-tablet) {
                font-size: 3.5rem;
              }
        }

        &-2{
            font-size: 2rem;
            line-height: 3rem;

            @include respond(small-tablet) {
                font-size: 3rem;
                line-height: 4rem;
              }
        }

    }

    &-figure{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        padding-top: 10rem;
        padding-bottom: 0rem;
        height: 47rem;

        @include respond(small-tablet) {
            flex-direction: column;
            justify-content: space-between;
            width: 80%;
            height: 250rem;
            padding-top: 6rem;
          }
    }

    &-figure1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;

        @include respond(small-tablet) {
            width: 100%;
            justify-content: space-between;
            height: 115rem;
          }


        &-1{
            display: flex;
            align-items: flex-start;

            @include respond(small-tablet) {
                flex-direction: column;
                align-items: center;
              }

            & img{
                width: 17%;
                padding-right: 3rem;

                @include respond(small-tablet) {
                    width: 30%;    
                    }
            }
        }

        &-2{
            animation-name: moveInBottom;
            animation-duration: 2s;
        }

        &-3{
            animation-name: moveInBottom;
            animation-duration:4s;
        }

        &-4{
            animation-name: moveInBottom;
            animation-duration: 6s;
        }

        &-5{
            animation-name: moveInBottom;
            animation-duration: 3s;
        }

        &-6{
            animation-name: moveInBottom;
            animation-duration: 5s;
        }

        &-7{
            animation-name: moveInBottom;
            animation-duration: 7s;
        }

        &-1para{
            display: flex;
            flex-direction: column;


            @include respond(small-tablet) {
                text-align: center;
              }
        }

        &-1para1{
            font-size: 2rem;
            text-transform: uppercase;
            padding-right: 3rem;
            padding-bottom: 2rem;

            @include respond(small-tablet) {
                font-size: 4rem;
              }
        }

        &-1para2{
            color: $color-primary-light;
            font-size: 2rem;
            padding-right: 3rem;


            @include respond(small-tablet) {
                font-size: 3rem;
              }
        }
    }

    &-figure2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;

        @include respond(small-tablet) {
            width: 100%;
            justify-content: space-between;
            height: 115rem;
          }

        &-2{
            display: flex;
            align-items: flex-start;

            @include respond(small-tablet) {
                flex-direction: column;
                align-items: center;
              }

            & img{
                width: 18%;
                padding-right: 3rem;

                @include respond(small-tablet) {
                width: 30%;    
                }
            }
        }

        &-2para{
            display: flex;
            flex-direction: column;
            align-items: space-between;

            @include respond(small-tablet) {
                text-align: center;
              }
        }

        &-2para1{
            font-size: 2rem;
            text-transform: uppercase;
            padding-right: 2rem;
            padding-bottom: 2rem;

            @include respond(small-tablet) {
                font-size: 4rem;
              }
        }

        &-2para2{
            color: $color-primary-light;
           padding-right: 3rem;
            font-size: 2rem;

            @include respond(small-tablet) {
                font-size: 3rem;
              }
        }
    }
}