.section5{
    padding-top: 8rem;

    &-word{
        text-align: center;

        &-1{
            font-size: 5rem;
            text-transform: uppercase;
            padding-bottom: 2rem;
        }

        &-2{
            font-size: 2rem;
            line-height: 3rem;
        }

    }

    &-figure{
        display: flex;
        padding: 10rem 15rem 0rem 12rem;
        height: 47rem;
    }

    &-figure1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-1{
            display: flex;
            align-items: flex-start;

            & img{
                width: 17%;
                padding-right: 3rem;
            }
        }

        &-2{
            animation-name: moveInBottom;
            animation-duration: 2s;
        }

        &-3{
            animation-name: moveInBottom;
            animation-duration:4s;
        }

        &-4{
            animation-name: moveInBottom;
            animation-duration: 6s;
        }

        &-5{
            animation-name: moveInBottom;
            animation-duration: 3s;
        }

        &-6{
            animation-name: moveInBottom;
            animation-duration: 5s;
        }

        &-7{
            animation-name: moveInBottom;
            animation-duration: 7s;
        }

        &-1para{
            display: flex;
            flex-direction: column;
        }

        &-1para1{
            font-size: 2rem;
            text-transform: uppercase;
            padding-right: 3rem;
            padding-bottom: 2rem;
        }

        &-1para2{
            color: $color-primary-light;
            font-size: 2rem;
            padding-right: 3rem;
        }
    }

    &-figure2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 109rem;

        &-2{
            display: flex;
            align-items: flex-start;

            & img{
                width: 18%;
                padding-right: 3rem;
            }
        }

        &-2para{
            display: flex;
            flex-direction: column;
            align-items: space-between;
        }

        &-2para1{
            font-size: 2rem;
            text-transform: uppercase;
            padding-right: 2rem;
            padding-bottom: 2rem;
        }

        &-2para2{
            color: $color-primary-light;
           padding-right: 3rem;
            font-size: 2rem;
        }
    }
}