.section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 7rem;
    height: 40rem;
    margin-bottom: 4rem;

    @include respond(big-phone) {
        height: 150rem;
    }
    

    &-word{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 13rem;
        text-align: center;
    }

    &-head{
        font-size: 5.5rem;

        @include respond(big-phone) {
            //font-size: ;
         }
    }

    &-para{
        color: $color-primary-light;
        font-size: 2.2rem;
        text-align: center;

        @include respond(big-phone) {
            font-size: 2.5rem;
         }
    }

    &-img{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;

        @include respond(big-phone) {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 120rem;
        }

        &-fig{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;

            @include respond(big-phone) {
               width: 40%;
            }

            & p{
                font-size: 2rem;
                width: 100%;
                text-align: center;
                padding-top: 10%;

                @include respond(big-phone) {
                  font-size: 4rem;
                 }
            }
        }

        &-fig1{
            animation-name: moveInBottom;
            animation-duration: 2s;
        }

        &-fig2{
            animation-name: moveInBottom;
            animation-duration: 3s;
        }

        &-fig3{
            animation-name: moveInBottom;
            animation-duration: 4s;
        }

        &-fig4{
            animation-name: moveInBottom;
            animation-duration: 5s;
        }

        &-item{
            width: 50%;
        }
    }
}